azure-cli-core==2.27.2
azure-cli==2.27.2
azure-cosmosdb-table==1.0.6
azure-mgmt-eventgrid==9.0.0
azure-mgmt-resource==18.0.0
azure-mgmt-storage==18.0.0
azure-storage-blob==12.8.1
pyfunctional==1.4.3
pyopenssl==19.1.0
adal~=1.2.5
idna<3,>=2.5
