azure-cli-core==2.23.0
azure-cli==2.23.0
azure-cosmosdb-table==1.0.6
azure-mgmt-eventgrid==3.0.0rc9
azure-mgmt-resource==12.1.0
azure-mgmt-storage==17.1.0
azure-storage-blob==12.5.0
azure-storage-queue==12.1.3
pyfunctional==1.4.2
pyopenssl==19.1.0
adal~=1.2.5
