.env
.vscode
.mypy_cache/
.idea
**/.direnv
**/.envrc
**/venv

# profiling/coverage files
*.profraw
*.profdata
lcov.info

# vim
*.swp

/.ionide/symbolCache.db

/src/ApiService/ApiService/Properties/PublishProfiles/*
/src/ApiService/ApiService/Properties/ServiceDependencies/*

.vs

# Local fork tools, not to be merged back into main repo
/.github/workflows/sync-fork.yml
