.env
.vscode
.mypy_cache/
.idea
**/.direnv
**/.envrc
**/venv

# vim
*.swp

/.ionide/symbolCache.db

/src/ApiService/ApiService/Properties/PublishProfiles/*
/src/ApiService/ApiService/Properties/ServiceDependencies/*
