msal~=1.12.0
requests~=2.25.1
jmespath~=0.10.0
semver~=2.13.0
signalrcore==0.9.2
asciimatics~=1.13.0
pydantic~=1.8.1 --no-binary=pydantic
memoization~=0.3.1
msrestazure==0.6.4
azure-storage-blob~=12.8
azure-applicationinsights==0.1.0
tenacity==8.0.1
docstring_parser==0.8.1
azure-cli-core==2.26.1
# packaging is required but not specified by azure-cli-core
packaging==20.9
# urllib3[secure] needs to be specifically stated for azure-cli-core
urllib3[secure]>=1.26.5
# iDNA needs to be specifically stated for azure-cli-core
idna<3,>=2.5
# cryptography needs to be pinned to the version used by azure-cli-core
cryptography<3.4,>=3.2
# PyJWT needs to be pinned to the version used by azure-cli-core
PyJWT>=2.1.0
# onefuzztypes version is set during build
onefuzztypes==0.0.0
