msal~=1.8.0
pyjwt~=1.7.1
requests~=2.25.1
jmespath~=0.10.0
semver~=2.13.0
signalrcore~=0.8.7
asciimatics~=1.12.0
dataclasses~=0.6
pydantic~=1.7.3 --no-binary=pydantic
memoization~=0.3.1
msrestazure==0.6.4
azure-storage-blob~=12.8
azure-applicationinsights==0.1.0
tenacity==6.3.1
docstring_parser==0.7.3
# onefuzztypes version is set during build
onefuzztypes==0.0.0
