[workspace]
members = [
    "atexit",
    "coverage",
    "debugger",
    "input-tester",
    "onefuzz",
    "onefuzz-agent",
    "onefuzz-supervisor",
    "onefuzz-telemetry",
    "reqwest-retry",
    "srcview",
    "storage-queue",
    "win-util",
    "libclusterfuzz",
    "stacktrace-parser",
]

[profile.release]
lto = "thin"
