[package]
name = "storage-queue"
version = "0.1.0"
authors = ["fuzzing@microsoft.com"]
edition = "2018"
license = "MIT"

[dependencies]
anyhow = "1.0"
async-trait = "0.1"
reqwest = { version = "0.10", features = ["json", "stream"] }
serde = "1.0"
serde_json = "1.0"
serde-xml-rs = "0.4"
serde_derive = "1.0"
uuid = { version = "0.8", features = ["serde", "v4"] }
regex = "1.4"
base64 = "0.13"
reqwest-retry = { path = "../reqwest-retry" }
yaque = "0.4.3"
