[package]
name = "onefuzz"
version = "0.1.0"
authors = ["fuzzing@microsoft.com"]
edition = "2018"
publish = false
license = "MIT"

[dependencies]
anyhow = "1.0"
appinsights = "0.1.4"
base64 = "0.12"
bytes = "0.5"
dunce = "1.0.1"
futures = "0.3"
hex = "0.4"
lazy_static = "1.4"
log = "0.4"
notify = "4.0"
regex = "1.3"
reqwest = { version = "0.10", features = ["json", "stream"] }
sha2 = "0.9"
url = { version = "2.1.1", features = ["serde"] }
serde = "1.0"
serde_json = "1.0"
serde_derive = "1.0"
sysinfo = "0.14"
tokio = { version = "0.2", features = ["full"] }
tokio-util = { version = "0.3", features = ["full"] }
uuid = { version = "0.8", features = ["serde", "v4"] }
urlparse = "0.7"
ring = "0.16"
strum = "0.19"
strum_macros = "0.19"
tempfile = "3.1"
process_control = "2.0"

[target.'cfg(target_os = "windows")'.dependencies]
winreg = "0.7"
input-tester = { path = "../input-tester" }

[target.'cfg(target_os = "linux")'.dependencies]
cpp_demangle = "0.3"
nix = "0.17"
pete = "0.3"
proc-maps = "0.1"
rstack = "0.3"
