# onefuzz systemd startup script
[Unit]
Description=onefuzz

[Service]
Type=simple
ExecStart=/bin/bash /onefuzz/tools/linux/run.sh
Restart=always
RestartSec=30

[Install]
WantedBy=default.target